* {
    margin: 0;
    padding: 0;
    background-origin: border-box;
}

body {
    height: 100vh;
}

@keyframes jump {
    0% {
        bottom: 0;
        transform: translateX(-50%) rotate(0);
    }
    50% {
        bottom: 300px;
        transform: translateX(-50%) rotate(360deg);
    }
    100% {
        bottom: 0;
        transform: translateX(-50%) rotate(0);
    }
}

img {
    height: 150px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: jump;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: crimson;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

